.list-cell {
    -fx-background-color: white;
}

.list-cell:selected {
    -fx-background-color: #bcbcbc;
}

.songitem .label {
    -fx-text-fill: black;
}

.addbutton {
    -fx-background-color: transparent;
}

/*.list-cell {
    -fx-background-color: #282a36;
    -fx-text-fill: #f8f8f2;
}

.list-view {
    -fx-background-color: #282a36;
}



.root {
    -fx-background-color: #282a36;
}

.manu-bar {
    -fx-background-color: #282a36;
}*/